<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">  
	<!-- action -->
	<bean id="EmpAction" class="cn.itcast.erp.auth.emp.web.EmpAction" scope="prototype">
		<property name="empEbi" ref="EmpEbi"/>
	</bean>
	<!-- business -->
	<bean id="EmpEbi" class="cn.itcast.erp.auth.emp.business.ebo.EmpEbo">
		<property name="empDao" ref="Empdao"/>
	</bean>
	<!-- dao -->
	<bean id="Empdao" class="cn.itcast.erp.auth.emp.dao.impl.EmpDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
</beans>	
	
